.main {
  background-color: #23272d;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-image: url(../src/icons/React-icon.svg.png);
  background-repeat: no-repeat;
  background-position-x: 75vw;
  min-width: 220px;
}
h3 {
  color: white;
}
.background-card {
  background-color: none;
  width: 30vw;
  height: 80vh;
  min-width: 200px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}

.login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.signInGoogle {
  width: 200px;
  background-color: #4285f4;
  color: white;
  border: none;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
.signInGoogle:hover {
  background-color: #357ae8;
}
.signInEmail {
  width: 200px;
  background-color: #4285f4;
  color: white;
  border: none;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
.signInEmail:hover {
  background-color: #357ae8;
}

.textbox {
  position: absolute;
  left: 50%;
  transform: translate(-10%,0);
  position: fixed;
  bottom: 2vh;
  width: 100vw;
  min-width: 220px;
}
.textbox_input{
  width:20vw;
}
.messages {
  width: 50vw;
  margin: auto;
  color: #23272d;
}
.messages > .sent {
  margin-top: 10px;
}
.messages > .sent > .text {
  float: right;
  vertical-align: middle;
  background-color: #6697e6;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 6.5px;
  padding-bottom: 6px;
}
.messages > .sent > img {
  float: right;
  width: 2vw;
  border-radius: 20px;
}

.messages > .recieved {
  margin-top: 10px;
  margin: 10px;
}
.messages > .recieved > img {
  float: left;
  width: 2vw;
  border-radius: 20px;
}
.messages > .recieved > .text {
  float: left;
  vertical-align: middle;
  width: 95%;
}
.messages > .recieved > .text > .val {
  background-color: whitesmoke;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 6.5px;
  padding-bottom: 6px;
  width: fit-content;
}

.signout{
  width: 100vw;
}
.signout>.btn{
  float: right;
}